footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  user-select: none;
}

.keyboard-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.keyboard-column {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  width: 40px;
  height: 65px;
  background-color: rgba(173, 169, 169, 0.664);

  font-size: 20px;
  font-weight: bold;

  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.wide {
  width: 80px;
}

.backspace-icon {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
